@page
@model AutEmplAcc.Pages.View.Positions.HiringPlan.AllPositionsExportModel
@{
}
<h1>Экспорт отчетов по всем должностям</h1>

<form method="get">
    <button type="submit">Экспортировать в Word</button>
</form>
