@page
@model IndexModel
@{
    ViewData["Title"] = "MainIndex";
}
<h1>Войдите или зарегистрируйтесь</h1>
<a href="/LogAndReg/Login" class="btn btn-primary">Login</a>
<a href="/LogAndReg/Register" class="btn btn-primary">Register</a>
<a href="/Branches/Index">123</a>

