@page
@model AutEmplAcc.Pages.Candidates.AllCandidatesExportModel
@{
}
<h1>Экспорт отчетов по всем кандидатам</h1>

<form method="get">
    <button type="submit">Экспортировать в Word</button>
</form>